<template>
  <transition name="slide">
    <section class="hero is-fullheight overlay">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="columns is-mobile">
            <div class="column is-2 is-offset-5">
              <figure class="image is-square">
                <img src="../../assets/revas-icon.png">
              </figure>
            </div>
          </div>
          <div v-if="errors.length === 0">
            <div class="lds-circle"/>
          </div>
          <h2 v-if="errors.length !== 0">
            {{ $t(errors[0]) }}
          </h2>
        </div>
      </div>
    </section>
  </transition>
</template>

<script>
  export default {
    props: {
      errors: {
        type: Array,
        default: function () {
          return []
        }
      }
    }
  }
</script>

<style scoped lang="scss">
    @import "~@revas/design/core/sass/colors/index.scss";

    .overlay {
        background-color: $revas-purple-light-color;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10000;
    }

    .slide-leave-active {
        transition: 1s;
    }

    .slide-leave-to {
        transform: translate(0, -100%);
    }

    .lds-circle {
        display: inline-block;
        width: 51px;
        height: 51px;
        margin: 6px;
        border-radius: 50%;
        background: #fff;
        animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

    @keyframes lds-circle {
        0%, 100% {
            animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
        }
        0% {
            transform: rotateY(0deg);
        }
        50% {
            transform: rotateY(1800deg);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
        }
        100% {
            transform: rotateY(3600deg);
        }
    }
</style>
